@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card {
    @extend .flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 250px;
    border-radius: 10px;
    background-color: #3c3e43;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;

    @media screen and (min-width:540px) {
        max-width: 400px;
        padding: 0;
        flex-direction: row;
    }

    @media screen and (min-width:780px) {
        margin: 10px 2%;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width:540px) {
            margin-left: 10px;
        }

        >div {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            h2 {
                font-size: 20px;
            }

            span {
                font-size: 12px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    img {
        display: block;
        max-width: 180px;
        object-fit: cover;
    }

}



.container {
    display: flex;
    height: 50%;
    background-color: rgb(5, 5, 31);
    cursor: pointer;
    transition: transform 0.3s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.image {
    /* margin: 0 auto; */
    height: 70%;
    width: 100%;
}

.ps {
    font-size: 10px;
}

.ps h3 {
    font-size: 12px;
}